@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    user-select: none;
    background-color: #ECECEC;
    overflow-x: hidden;
    margin-left: 70px;
    margin-top: 64px;
}

input[type="file"]::file-selector-button {
    background-color: #f73558;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}